div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.row_poster:hover {
    transform: scale(1.09);
}

.row_poster::-webkit-scrollbar {
    display: none;
}

tbody::-webkit-scrollbar {
    display: none;
}

.row_posterLarge {
    height: 500px;
    width: 300px;
    border-radius: 1rem;
}

.row_posterLarge1 {
    height: 500px;
    border-radius: 1rem;
}

@media (max-width: 786px) {
    .backdrop-color {
        bottom: 10% !important;
        right: 6% !important;
    }

    .input-width {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .align-input {
        display: flex;
        justify-content: center;
    }

    .input-width {
        width: 70% !important;
    }

    #bookModalAll img {
        height: 400px !important;
    }

    #bookModal img {
        height: 400px !important;
    }

    #rentedBook img {
        height: 400px !important;
    }

    .row_posterLarge {
        max-height: 300px;
        max-width: 200px;
    }

    .row_posterLarge1 {
        height: 250px;
        border-radius: 1rem;
    }

    .backdrop-color {
        bottom: 16% !important;
        right: 6% !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .input-width {
        width: 50% !important;
    }
}

.row {
    color: white;
    margin-left: 20px;
    margin-right: 0 !important;
}

button {
    background-color: rgba(55, 168, 60, 0.7);
}

button:hover {
    background-color: rgba(55, 168, 60);
    transition: all 0.2s;
}

input[type="search"]::placeholder {
    display: flex;
    justify-content: space-between;
}

.marg {
    margin-top: 5%;
}

.modalBack {
    background-color: rgba(0, 0, 0, .75) !important;
}

a:focus {
    outline: none;
}

button:focus {
    outline: none !important;
}

.fade {
    background: black;
    opacity: 0.5;
}

a.row_poster {
    display: flex;
    justify-content: center;
}

.menu {
    position: fixed;
    z-index: 5;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
    width: 22px;
    height: 2px;
    background: none;
    border: none;
}

.horizontal {
    position: absolute;
    width: 22px;
    height: 2px;
    bottom: 80px;
    right: 20px;
    background: #fff;
}

.vertical {
    position: absolute;
    width: 22px;
    height: 2px;
    bottom: 80px;
    right: 20px;
    background: #fff;
    transform: rotate(90deg);
}

.open .horizontal {
    transform: rotate(-45deg);
}

.open .vertical {
    transform: rotate(45deg);
}

.tab {
    border-radius: 15px;
    overflow: hidden;
}

.tab-header {
    background-color: rgba(55, 168, 60, 0.4);
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    height: 400px;
    overflow-x: hidden;
}

a {
    padding: 10px;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.table-hover tbody tr:hover {
    background-color: white !important;
    color: black !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #343a40;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: white;
}

.table-striped>tbody>tr:nth-of-type(odd):hover>* {
    color: black;
}

.container-gap {
    margin-bottom: 70px;
}

input {
    background-color: #333;
    border: 0;
    color: white;
}

input:focus {
    outline: none;
    background-color: white;
    color: black;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a,
h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

a {
    cursor: pointer;
}

.drop {
    display: none;
}

.dropdown:hover .drop {
    display: block !important;
}

.drop a {
    display: block;
}

.backdrop-color {
    backdrop-filter: blur(15px);
    border-radius: 50%;
}

.nav-position {
    bottom: 43px;
    right: 140px;
    font-size: 50px;
}

.icon-style {
    border-radius: 50%;
    background-color: rgba(55, 168, 60, 0.4);
}

.icon-width {
    width: 50px;
}

.icon-size {
    font-size: 25px
}

h3 {
    font-size: 35px
}

.input-group-text {
    background-color: unset;
}

.col2-width {
    width: 160px;
}

.input-width {
    width: 25%;
}


.marg {
    margin-top: 5%;
}

.modalBack {
    background-color: rgba(0, 0, 0, .75) !important;
}

a:focus {
    outline: none;
}

button:focus {
    outline: none !important;
}

input:focus {
    outline: none !important;
}

.fade {
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111)
}

a.row_poster {
    display: flex;
    justify-content: center;
}

a {
    cursor: pointer;
}

.font-s {
    font-size: 30px;
}

.img-modal {
    width: 100%;
    height: 600px;
}

.icon-margin {
    margin-right: 50px;
}

.row-margin {
    margin-bottom: 10px;
}

fa-icon {
    font-size: 15px;
}

i {
    color: white;
    cursor: pointer;
    font-size: 30px;
}

a {
    text-decoration: none;
    bottom: 17px;
    right: 60px;
    color: unset;
}

.img-modal {
    width: 100%;
    height: 600px;
}

button {
    min-width: 130px;
    min-height: 40px;
    background-color: rgba(55, 168, 60, 0.7);
}

.btn-close {
    min-width: unset;
    min-height: unset;
}

button:hover {
    background-color: rgba(55, 168, 60);
    transition: all 0.2s;
}

.book-img {
    height: 600px;
    width: 60%;
}

.input-width {
    width: 60%;
}

input[type="text"],
textarea,
select {
    color: rgb(29, 20, 20);
    background: #333;
    border: 0;
}

textarea:focus {
    color: black !important;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    color: black !important;
    background: white;
}

.col-height {
    height: 650px
}

.modalBack {
    background-color: rgba(0, 0, 0, .75) !important;
}

button {
    background-color: rgba(55, 168, 60, 0.7);
}

button:hover {
    background-color: rgba(55, 168, 60);
    transition: all 0.2s;
}

input {
    background-color: #333;
    border: 0;
    color: white;
}

input:focus {
    outline: none;
    background-color: white;
    color: black !important;
}

select {
    color: rgb(29, 20, 20);
    background: #333;
    border: 0;
}

select:focus {
    color: black !important;
    background: white;
}