.modalBack {
    background-color: rgba(0, 0, 0, .75) !important;
}

button {
    background-color: rgba(55, 168, 60, 0.7);
}

input {
    background-color: #333;
    border: 0;
    color: white;
}

button:hover {
    background-color: rgba(55, 168, 60);
    transition: all 0.2s;
}

input:focus {
    outline: none;
    background-color: white;
    color: black !important;
}