<div class="bg-white text-center page-style">
  <h1>404 Error</h1>
  <h1>Page Not Found</h1>
  <div class="row m-0">
    <div class="d-flex justify-content-center">
      <figure>
        <img src="../../assets/images/pageNotFound.png">
        <figcaption>by <a href="https://www.joypepper.co" target="_blank">joypepper.co</a></figcaption>
      </figure>
    </div>
    <div class="d-flex justify-content-center py-4">
      <button (click)="redirectTo()" type="button" class="btn"> Strona główna</button>
    </div>
  </div>
</div>