<!-- Logs Modal -->
<div class="modal text-white go-down-animation" id="logs" tabindex="7" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content modalBack">

            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Dziennik zdarzeń</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="w-50 ms-4">
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                    <div class="box d-flex align-items-center">
                        <i class="fa-solid fa-book"></i>
                        <div class="inner-box">
                            User1 wypożyczył książkę o tytule "Hobbit"

                            <div>
                                13:02
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div> -->
        </div>
    </div>
</div>