<div *ngFor="let category of categories">
    <!-- All Categories Modal -->
    <div class="modal text-white go-down-animation" id="allCategories" tabindex="7" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content modalBack">
                <div class="modal-header position-relative">
                    <h1 class="modal-title" id="exampleModalLabel">Zarządzaj kategoriami</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <a class="position-absolute" data-bs-target="#addCategory" data-bs-toggle="modal"><i
                            class="fa-solid fa-circle-plus"></i></a>
                </div>
                <div class="modal-body">
                    <div class="row mb-4 m-0">
                        <div *ngFor="let category of categories" class="col-lg-3 col-md-4 col-6 p-0">
                            <div class="container position-relative p-2">
                                <div class="position-absolute align-icons">
                                    <div>
                                        <a data-bs-toggle="modal" [attr.data-bs-target]="'#editCategory'+category.id">
                                            <fa-icon class="pencil-color" [icon]="faPencil"> </fa-icon>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="d-flex justify-content-center" (click)="deleteCategory(category)">
                                            <fa-icon class="trash-color" [icon]="faTrash"> </fa-icon>
                                        </a>
                                    </div>
                                </div>
                                <img [src]="category.cover" class="row_posterLarge1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>