<app-all-categories></app-all-categories>
<app-authors></app-authors>
<app-spots></app-spots>
<app-add-author></app-add-author>
<app-add-spot></app-add-spot>
<app-edit-author></app-edit-author>
<app-add-category></app-add-category>
<app-add-book></app-add-book>
<app-edit-category></app-edit-category>
<app-edit-spot></app-edit-spot>
<app-books></app-books>
<app-users></app-users>
<app-add-proposed-book></app-add-proposed-book>
<app-add-book-instance></app-add-book-instance>
<app-add-user></app-add-user>
<app-logs-modal></app-logs-modal>