<!-- All Books Modal -->
<div class="modal text-white go-down-animation" id="spots" tabindex="7" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content modalBack">

            <div class="modal-header position-relative">
                <h1 class="modal-title" id="exampleModalLabel">Zarządzaj miejscami</h1>
                <a class="position-absolute" data-bs-target="#addSpot" data-bs-toggle="modal"><i
                        class="fa-solid fa-circle-plus"></i></a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div *ngFor="let spot of spots" class="col-4 mb-4">
                            <div class="box">
                                <div class="d-flex box-top">
                                    <div class="col1-width d-flex justify-content-center align-items-center">
                                        {{spot.name}}
                                    </div>
                                    <div class="inner-box d-flex justify-content-center align-items-center">
                                        {{spot.bookCount}}
                                    </div>
                                    <div class="inner-box d-flex justify-content-center align-items-center">
                                        <a class="d-flex align-items-center" data-bs-toggle="modal"
                                            [attr.data-bs-target]="'#editSpot'+spot.id">
                                            <i class="fa-solid fa-square-pen pencil-color"></i>
                                        </a>
                                    </div>
                                    <div class="inner-box d-flex justify-content-center align-items-center">
                                        <a class="d-flex align-items-center" (click)="deleteSpot(spot.id)">
                                            <i class="fa-solid fa-circle-minus trash-color"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex box1">
                                    <div class="w-50 d-flex justify-content-center align-items-center">
                                        {{spot.building}}
                                    </div>
                                    <div class="inner-box w-50 d-flex justify-content-center align-items-center">
                                        {{spot.floor}}
                                    </div>
                                </div>
                                <div class="d-flex box1">
                                    <div class="w-100 d-flex justify-content-center align-items-center">
                                        {{spot.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>